<%= form_for(@developer) do |f| %>
  <% if @developer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@developer.errors.count, "error") %> prohibited this developer from being saved:</h2>

      <ul>
      <% @developer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :topic_ID %><br>
    <%= f.number_field :topic_ID %>
  </div>
  <div class="field">
    <%= f.label :man_ID %><br>
    <%= f.number_field :man_ID %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
