<p id="notice"><%= notice %></p>

<p>
  <strong>Priorityconditionid:</strong>
  <%= @topic.priorityConditionID %>
</p>

<p>
  <strong>Topictitle:</strong>
  <%= @topic.topicTitle %>
</p>

<p>
  <strong>Intervention:</strong>
  <%= @topic.intervention %>
</p>

<p>
  <strong>Phase:</strong>
  <%= @topic.phase %>
</p>

<p>
  <strong>Phasedetails:</strong>
  <%= @topic.phaseDetails %>
</p>

<p>
  <strong>Comparators:</strong>
  <%= @topic.comparators %>
</p>

<p>
  <strong>Healthimpact:</strong>
  <%= @topic.healthImpact %>
</p>

<p>
  <strong>Patientpopulation:</strong>
  <%= @topic.patientPopulation %>
</p>

<p>
  <strong>Status:</strong>
  <%= @topic.status %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
