<h1>Listing priority_conditions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @priority_conditions.each do |priority_condition| %>
      <tr>
        <td><%= priority_condition.name %></td>
        <td><%= link_to 'Show', priority_condition %></td>
        <td><%= link_to 'Edit', edit_priority_condition_path(priority_condition) %></td>
        <td><%= link_to 'Destroy', priority_condition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Priority condition', new_priority_condition_path %>
